body {
    background-color: pink;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.about-section {
    text-align: center;
    padding: 50px;
}

h1 {
    font-size: 3em;
    color: #333;
}

p {
    font-size: 2em; 
    color: black;
}